/* Bootstrap width ranges:
    xs: Extra small devices ~ Phones (< 768px)
    sm: Small devices ~ Tablets (>= 768px)
    md: Medium devices ~ Desktops (>= 992px)
    lg: Large devices ~ Desktops (>= 1200px)
    Minimum: 480 px
    Fairphone: 540 px
    iPhone 4s: 640 px
    Galaxy S3: 720 px 
*/

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
	font-family: 'Open Sans', sans-serif;
}

.button-holder {
	width: 40px;
	display: inline-block;
}

.btn-success,
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success,
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success,
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
	background-image:none;
	background-color:#F07E26;
	color:white;
	text-shadow:none;
	box-shadow:none;
	border-color:transparent;
}

h3, .h3 {
	font-size:16px;
	font-weight:bold;
	color:#F07E26 !important;
}
.btn-default {
	background-image:none;
	background-color:#4D5A66;
	color:white;
	text-shadow:none;
	box-shadow:none;
	border-color:transparent;
}

.button-spacer {
  	width: 40px;
	display: inline-block;
}
  
.container { margin-top:-7px }

/*
@media screen (max-width: 567px) {
  .button-spacer {
  	width: 12px;
	display: inline-block;
  }
}

@media (min-width: 568px) and (max-width:991px) {
  //.container { width: 550px; }
  .button-spacer {
  	width: 40px;
	display: inline-block;
  }
}
*/
@media (min-width: 992px) {
  body {
	width: 992px;
	margin-left: auto;
	margin-right: auto
  }

  .container { width: 970px; }
  /*
  .button-spacer {
  	  width: 60px;
      display: inline-block;
  }*/
}

a {
    color:#f07e26;
    text-decoration: none;
}

.navbar-inverse {
	background-color:#00152b;
	border-color:00152B;
	background-image:none;
	padding-top:7px;	
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{
	background-color:#f07e26;
}

.navbar-inverse .navbar-nav > .active > a{
	background-image:none;
}

.nav {
	font-weight:700;
}

.form-horizontal, .form-normal, .info-block {
	background-color: #E5E5E7;
	padding:0px;
}

.form-horizontal.without-tabs, .form-normal.without-tabs, .info-block.without-tabs {
	padding-top:6px;
}

ul.nav.nav-tabs {
	background-color: white;
	margin-bottom:12px;
}

.nav-tabs li {
	padding: 3px 2px 0px 3px;
	margin: 0px;
}
.nav-tabs li.active {
	background-color: #E5E5E7;
}

.row.end-block {
  margin-bottom:7px;
}

.row.active {
	background-color:#E5E5E7;
	padding:5px 0px 5px 0px;
}

.row.inactive {
	background-color:#CCC;
	padding:5px 0px 5px 0px;
}

.row.section {
	margin-bottom:10px;
	padding:6px;
	background-color:#F07E26;
}

.row.section a {
	color:white;
}

.row.create-block {
	padding:6px;
	color:white;
	background-color:#00152B;
}

.row.buttons-list {
	margin-bottom:10px;
	margin-top:10px;
}
.row.form-group {
	padding-left:6px;
	padding-right:6px;
}


/* Breadcrumbs from http://bootsnipp.com/snippets/featured/triangle-breadcrumbs-arrows */
.btn-breadcrumb {
	margin-top:6px;
}
.btn-breadcrumb .btn:not(:last-child):after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid white;
  position: absolute;
  top: 50%;
  margin-top: -17px;
  left: 100%;
  z-index: 3;
}
.btn-breadcrumb .btn:not(:last-child):before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid rgb(173, 173, 173);
  position: absolute;
  top: 50%;
  margin-top: -17px;
  margin-left: 1px;
  left: 100%;
  z-index: 3;
}

.breadcrumb .btn {
  padding:6px 12px 6px 24px;
}
.btn-breadcrumb .btn:first-child {
  padding:6px 6px 6px 10px;
}
.btn-breadcrumb .btn:last-child {
  padding:6px 18px 6px 24px;
}

/** Default button **/
.btn-breadcrumb .btn.btn-default:not(:last-child):after {
  border-left: 10px solid #fff;
}
.btn-breadcrumb .btn.btn-default:not(:last-child):before {
  border-left: 10px solid #ccc;
}
.btn-breadcrumb .btn.btn-default:hover:not(:last-child):after {
  border-left: 10px solid #ebebeb;
}
.btn-breadcrumb .btn.btn-default:hover:not(:last-child):before {
  border-left: 10px solid #adadad;
}

/* The responsive part */

.btn-breadcrumb > * > div {
    /* With less: .text-overflow(); */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;    
}

.btn-breadcrumb > *:nth-child(n+2) {
  display:none;
}

/* === For phones =================================== */
@media (max-width: 767px) {
    .btn-breadcrumb > *:nth-last-child(-n+2) {
        display:block;
    } 
    .btn-breadcrumb > * div {
        max-width: 60px;
    }
}

/* === For tablets ================================== */
@media (min-width: 768px) and (max-width:991px) {
    .btn-breadcrumb > *:nth-last-child(-n+4) {
        display:block;
    } 
    .btn-breadcrumb > * div {
        max-width: 100px;
    }
}

/* === For desktops ================================== */
@media (min-width: 992px) {
    .btn-breadcrumb > *:nth-last-child(-n+6) {
        display:block;
    } 
    .btn-breadcrumb > * div {
        max-width: 170px;
    }
}

